@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    font-size: 16px;
   

}
:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%, 0.3);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Black-modal: hsl(0, 0%, 0%, 0.5);
}
.main-container{
    width: 100%;
    margin: auto;
    position: relative;
    
}
.header{
    
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.header-cart{
    position: relative;
    z-index: ;

}
.header-cart:hover{
    cursor: pointer;

}
.header-cart--notification{
    background-color: var(--Orange);
    text-align: center;
    width: 16px;
    height: 12px;
    color: white;
    border-radius: 16px;
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    top: -3px;
    right: -4px;
    display: none;
    

    
}
.header__avatar:hover{
    border: 2px solid var(--Orange);
    border-radius: 50%;
    cursor: pointer;
}
.header-cart:hover{
    cursor: pointer;
}

.header__card-avatar{
    display: flex;
    align-items: center;

}

.header__avatar{
    width: 25px;
    margin-left: 20px;
}
.navbar{
    display: none;
}
.modal-navbar__background{
    background-color: var(--Black-modal);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    

}
.modal-navbar{
    background-color: white;
    width: 55%;
    padding: 25px;
    height: 100%;

    

   
}
.modal-navbar__items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    
}
.modal-navbar__link{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;

}
.modal-navbar__icon{
    width: 15px;
    margin-bottom: 50px;
}
.header__icon-menu{
    margin-right: 10px;
}
.gallery{

}
.gallery__image-container{
    background-image: url(./images/image-product-1.jpg);
    background-position-y: -50px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gallery__icon-previus{
   width: 8px;
   margin-left: 10px;
   margin-top: 9.5px; 
}

.gallery__icon-next{
    width: 8px;
    margin-left: 12px;
    margin-top: 9.5px; 
}
.gallery__icon-next:hover{
    cursor: pointer;

}
.gallery__thumbnails{
    display: none;
}
.gallery__icon{
    background: white;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    

}
.gallery__icon:hover{
    cursor: pointer;

}
.details__company{
    color: var(--Orange);
    font-size: 0.9em;
    letter-spacing: 1.5px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.details__title{
    font-size: 2em;
    margin: 0px 20px;
}
.details__paragraf{
    padding: 20px;
    color: var(--Dark-grayish-blue);
    line-height: 25px;
}
.details__price-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    
}
.details__price-now{
    font-weight: 700;
    font-size: 2em;
    display: flex;
    align-items: center;
}
.details__price-now span{
    background-color: var(--Pale-orange);
    color: var(--Orange);
    padding: 3px 8px;
    font-size: 0.6em;
    border-radius: 8px;
    margin-left: 15px;
}
.details__price-previus{
    color: var(--Dark-grayish-blue);
    font-weight: 700;
    text-decoration: line-through;
}
.details__input{
    display: flex;
    justify-content: space-between;
    
}
.details__input__input{
    width: 100%;
    border: none;
    background-color: var(--Light-grayish-blue);
    text-align: center;
    height: 60px;
    font-weight: 700;
    font-size: 1.2em;
    outline: none;


    
}
.details__input-container{
    padding: 20px;
    
}
.details__icon-minus{
    background-color:var(--Light-grayish-blue);
    padding: 30px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px ;
    
}
.details__icon-minus:hover{
    cursor: pointer;
}
.details__icon-plus{
    background-color:var(--Light-grayish-blue);
    padding: 24px 20px;
    max-height: 60px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
    
}
.details__icon-plus:hover{
    cursor: pointer;

}
.details__button{
    height: 60px;
    width: 100%;
    background-color: var(--Orange);
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}
.details__button:hover{
    opacity: 0.5;   
    cursor: pointer;
    transition: 0.2s;
    
}
.modal-cart__buy{
    display: none;
}
.modal-cart{
    display: none;
    background-color: white;
    position: absolute;
    top: 90px;
    width: 95%;
    height: 275px;
    left: 10px;
    border-radius: 12px;
    box-shadow: 0px 24px 38px -19px rgba(0,0,0,0.32);
-webkit-box-shadow: 0px 24px 38px -19px rgba(0,0,0,0.32);
-moz-box-shadow: 0px 24px 38px -19px rgba(0,0,0,0.32);
}
.modal-cart__title{
    padding: 25px;
    font-weight: 700;
    border-bottom: 2px solid var(--Grayish-blue);

}
.modal-cart__buy{
    padding: 20px;
}
.modal-cart__img{
    width: 60px;
    border-radius: 8px;
}
.modal-cart__product{
    display: flex;
    gap: 25px;
    align-items: center;
    
}
.modal-cart__detauls__empty{
    display: flex;
    justify-content: center;
    height: 195px;
    align-items: center;
    font-weight: 700;
    color: var(--Dark-grayish-blue);
}
.modal-cart__product__title{
    color: var(--Dark-grayish-blue);
    font-size: 1em;

}

.modal-cart__product__price{
    color: var(--Dark-grayish-blue);
}
.modal-cart__product__price span{
    font-weight: 700;
    color: black;
}
.modal-cart__details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.modal-cart__checkout{
    height: 60px;
    width: 100%;
    background-color: var(--Orange);
    color: white;
    font-size: 1.1em;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 10px;

}

@media (min-width: 1115px){
    .main-container{
        width: 1115px;
        
        
    }
    .section{
        display: flex;
        padding: 70px;
        gap: 50px;
    }
    .details__input-container{
        display: flex;
        gap: 15px;
        
        align-items: center;
    }
    .details__button{
        margin: 0px;
    }
    .details__input__input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    .gallery__thumbnails{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        
            
    
    }
    
    .details__price-container{
        flex-direction: column;
        align-items: flex-start;
    }
    .details__company{
        font-size: 0.7em;
        margin-bottom: 10px;
    }
    .details__title{
        font-size: 2.3em;
    }
    .gallery__image-container{
        height: 370px;
        border-radius: 12px;
        background-position-y: -10px ;
    }
    .gallery__icon{
        display: none;
    }
    .gallery__thumbnail{
        width: 80px;
        border-radius: 8px;
    }
    .gallery{
        width: 100%;
    }
    
    .header{
        padding: 10px 10px;
        height: 120px;
        border-bottom: 2px solid var(--Grayish-blue);

    }
    .navbar{
        display: flex;
        align-items: center;
        height: 100%;
       
    }
    .navbar__link:hover{
        border-bottom: 4px solid var(--Orange);
        transition: 0.1s;
    }
    .navbar__items{
        display: flex;
        gap: 20px;
        
        list-style: none;
     
        
    }

    .navbar__link{
        text-decoration: none;
        color: var(--Dark-grayish-blue);
        height: 120px;
        display: block;
        padding-top: 52px ;

    }
    .header__icon-menu{
        display: none;
    }
    .header__navegation{
        display: flex;
        align-items: center;
        
        height: 120px;
        width: 550px;
        justify-content: space-between;
        
        
        
    }
    .header__avatar{
        width: 40px;
    }
}

